<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Multiplayer 8-Ball Pool">
    
    <link rel="shortcut icon" type="image/png" href="/img/eight-ball.png" />
    <link rel="icon" type="image/png" href="/img/eight-ball.png" />
    <link rel="shortcut icon" type="image/svg" href="/img/eight-ball.svg" />
    <link rel="icon" type="image/svg" href="/img/eight-ball.svg" />
    {{> css}}
    {{> js}}
    <title>{{#if title}}{{title}} | {{/if}}Eight Ball</title>
</head>

<body>
    <div class="container">
        {{> navbar}}
        {{> flash}}
        {{{body}}}
    </div>
</body>
</html>