<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {{> meta}}
    <title>Play | Eight Ball</title>
    {{> css}}
</head>

<body>
    {{> navbar active_play=true}}
    <div class="container">
        {{> flash}}

        <div id="menu" class="bg-dark text-center py-5 px-5 rounded">
            <h1 class="display-3">Eight Ball</h1>
            <p class="h3 pt-3">
                {{#if queuedPlayers}}
                In queue:
                {{#each queuedPlayers}}
                <span class="{{userColor this.id}}"
                    style="color:{{userSolidColor this.username}}">{{this.username}}</span>{{#unless @last}},
                {{/unless}}
                {{/each}}
                {{else}}
                <span>No players in queue right now.</span>
                {{/if}}
            </p>
            <hr class=" my-5">
            <div id="queueMessage" class="mb-3"></div>
            <button type="button" id="btn-joinQueue" class="btn btn-lg btn-primary">Find opponent</button>
        </div>


        <div id="queue" class="bg-dark text-center py-5 px-5 rounded">
            <h1 class="display-3">Waiting for opponent...</h1>
            <div class="loader mx-auto my-5"></div>
            <button type="button" id="btn-leaveQueue" class="btn btn-lg btn-danger">Cancel queue</button>
        </div>

        <style>
            .player-ball {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
                flex-shrink: 0;
            }

            .score-box {
                border-radius: 15px;
                padding: 5px 20px;
                margin: 0 15px;
                flex-shrink: 0;
            }

            .score {
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 1;
                margin: 0;
            }

            .player-name {
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }

            .scoreboard-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .player-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 50%;
            }

            .opponent-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 50%;
            }
        </style>

        <div id="game" class="container mt-4">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="scoreboard-container">
                        <div class="player-container">
                            <div id="playercolor" class="player-ball"></div>
                            <a id="playerUsername" href="#" target="_blank" rel="noopener noreferrer"
                                class="h5 mb-0 ms-2 player-name text-decoration-none">Player1</a>
                            <div class="score-box">
                                <p id="playerScore" class="score">3</p>
                            </div>
                        </div>
                        <div class="opponent-container">
                            <div class="score-box background-secondary">
                                <p id="opponentScore" class="score">6</p>
                            </div>
                            <a id="opponentUsername" href="#" target="_blank" rel="noopener noreferrer"
                                class="h5 mb-0 me-2 player-name text-decoration-none">Player2</a>
                            <div id="opponentcolor" class="player-ball"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="canvas" class="d-block w-100 h-auto mh-100 rounded"></canvas>
                </div>
            </div>
        </div>

        <div id="gameEnd" class="bg-dark text-center py-5 px-5 rounded">
            <h4>The winner is:</h4>
            <h2 id="winnerName" class="display-3">User</h2>
            <h5 id="winReason" class="display-5">reason</h5>
            <hr class="my-5">
            <button type="button" id="btn-requeue" class="btn btn-lg btn-primary">Requeue</button>
        </div>

    </div>

    <!-- Socket.IO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"
        integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>

    {{> js}}

    <script src="/js/game/menu.js"></script>
    <script src="/js/game/Vector.js"></script>
    <script src="/js/game/canvas.js"></script>
    <script src="/js/game/Ball.js"></script>
    <script src="/js/game/Stick.js"></script>
    <script src="/js/game/Game.js"></script>
    <script src="/js/game/socket.js"></script>

</body>

</html>