<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {{> meta}}
    <title>Play | Eight Ball</title>
    {{> css}}
</head>

<body>
    {{> navbar active_play=true}}
    <div class="container">
        {{> flash}}

        <div id="gameContainer" class="bg-dark text-center py-5 px-5 rounded">
            {{!-- <div id="menu" class="game-section">
                <h1 class="display-3">Eight Ball</h1>
                <div id="queuedPlayers">bruh</div>
                <button type="button" id="btn-joinQueue" class="btn btn-lg btn-success">Find opponent</button>
            </div> --}}

            <div id="menu" class="game-section">
                <h1 class="display-3 mb-4">Eight Ball</h1>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <h5 class="mb-3">In queue right now:</h5>
                        <div id="playersInQueue2" class="player-list-container d-inline-block"></div>
                    </div>
                </div>
                <button type="button" id="btn-joinQueue" class="btn btn-lg btn-success">Find opponent</button>
            </div>

            <div id="queue" class="game-section">
                <h1 class="display-3">Waiting for opponent...</h1>
                <div class="loader-container">
                    <img src="/img/eight-ball-mono.svg" class="loader-ball" alt="8 ball">
                    <img src="/img/eight-ball-mono.svg" class="loader-ball" alt="8 ball">
                    <img src="/img/eight-ball-mono.svg" class="loader-ball" alt="8 ball">
                </div>
                <button type="button" id="btn-leaveQueue" class="btn btn-lg btn-danger">Cancel queue</button>
            </div>

            <div id="gameEnd" class="game-section">
                <div>
                    <h5 class="my-0">The winner is:</h5>
                    <h1 id="winnerName" class="display-1 my-0">user</h1>
                    <h3 id="winReason" class="mt-4">reason for win/loss</h3>
                </div>
                <button type="button" id="btn-requeue" class="btn btn-lg btn-success">Requeue</button>
            </div>
        </div>

        <div id="game" class="container mt-4">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="scoreboard-container">
                        <div class="player-container">
                            <div id="playercolor" class="player-ball"></div>
                            <a id="playerUsername" href="#" target="_blank" rel="noopener noreferrer"
                                class="h5 mb-0 ms-2 player-name text-decoration-none">Player1</a>
                            <div class="score-box">
                                <p id="playerScore" class="score">3</p>
                            </div>
                        </div>
                        <div class="opponent-container">
                            <div class="score-box background-secondary">
                                <p id="opponentScore" class="score">6</p>
                            </div>
                            <a id="opponentUsername" href="#" target="_blank" rel="noopener noreferrer"
                                class="h5 mb-0 me-2 player-name text-decoration-none">Player2</a>
                            <div id="opponentcolor" class="player-ball"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="canvas" class="d-block w-100 h-auto mh-100 rounded"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Socket.IO JS -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>

    {{!-- confetti for the winner :D --}}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

    {{> js}}

    <script type="module" src="/js/menu.js"></script>
    <script type="module" src="/js/Vector.js"></script>
    <script type="module" src="/js/canvas.js"></script>
    <script type="module" src="/js/Ball.js"></script>
    <script type="module" src="/js/Stick.js"></script>
    <script type="module" src="/js/Game.js"></script>
    <script type="module" src="/js/clientSocket.js"></script>
</body>

</html>

<style>
    .player-ball {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;
    }

    .score-box {
        border-radius: 15px;
        padding: 5px 20px;
        margin: 0 15px;
        flex-shrink: 0;
    }

    .score {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1;
        margin: 0;
    }

    .player-name {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .scoreboard-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .player-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
    }

    .opponent-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
</style>