<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {{> meta}}
    <title>Register | Eight Ball</title>
    {{> css}}
</head>

<body>
    {{> navbar active_register=true}}
    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-4">Register</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="/register" method="post" class="mb-4" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username"
                            value="{{register.username}}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email (optional)</label>
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirm Password</label>
                        <input type="password" id="passwordConfirm" name="passwordConfirm"
                            placeholder="Confirm Password" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-lg">Register</button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p class="text-muted">Already have an account?</p>
                    <a href="/login" class="btn btn-secondary">Login</a>
                </div>
            </div>
            <div class="col-xl-6">
                {{> flash}}
            </div>
        </div>

    </div>
    {{> js}}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const emailInput = document.getElementById('email');

            form.addEventListener('submit', function (event) {
                if (emailInput.value.trim() === '') {
                    emailInput.value = '';  // Clear any whitespace
                    emailInput.removeAttribute('required');  // Remove required attribute
                } else {
                    emailInput.setAttribute('required', '');  // Add required attribute if email is not empty
                }
            });
        });
    </script>
</body>

</html>