@import url('usernames.css');
@import url('leaderboard.css');
@import url('ranks.css');
@import url('loader.css');

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    background-image: url('/img/bg.svg');
    background-repeat: repeat;
    background-size: 150px;
    /* prevent goofy scrollbar scuff */
    padding-left: calc(100vw - 100%);
}

/* play screens */
.game-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18rem;
}

.game-section>button {
    align-self: center;
    width: auto;
}

/* score thingys */
.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

/* for accounts that have been: */
.deactivated {
    color: #921919;
}

.twemoji-flag {
    height: 1.2em;
    width: auto;
    vertical-align: -0.30em;
    margin: 0 0.15em;
}

/* For the onlien players list */
.player-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
    overflow-x: auto;
}

.player-item {
    white-space: nowrap;
}

.player-item:not(:last-child)::after {
    content: ",";
    margin-right: 4px;
    color: white;
}