@import url('usernames.css');
@import url('leaderboard.css');
@import url('ranks.css');

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    background-image: url('/img/bg.svg');
    background-repeat: repeat;
    background-size: 150px;
    /* prevent goofy scrollbar scuff */
    padding-left: calc(100vw - 100%);
}

.loader {
    border: 15px solid #f0f0f0;
    border-radius: 100%;
    border-top: 15px solid #17a2b8;
    border-bottom: 15px solid #17a2b8;
    width: 100px;
    height: 100px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.deactivated {
    color: #921919;
}

.twemoji-flag {
    height: 1.2em;
    width: auto;
    vertical-align: -0.30em;
    margin: 0 0.15em;
}

/* For the onlien players list */

.player-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
    overflow-x: auto;
}

.player-item {
    white-space: nowrap;
}

.player-item:not(:last-child)::after {
    content: ",";
    margin-right: 4px;
    color: white;
}